<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}View{% endblock %}

{% block content %}

<!-- // hx-post="" -->
<form
  hx-target="#response"
  hx-swap="innerHTML"
  class="max-w-md"
>
  {% for field in fields %}
    {% match field %}
	  {% when FieldValue::Text with (config_with_def) %}
        <label for="{{ config_with_def.field_config.attribute_name }}" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">
            {{ config_with_def.field_config.display_name }}
        </label>
        <input
	      type="string"
	      name="{{ config_with_def.field_config.attribute_name }}"
          id="{{ config_with_def.field_config.attribute_name }}"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	      placeholder="{{ config_with_def.field_config.display_name }}"
		  value="{{ config_with_def.value }}"
        />
	  {% when FieldValue::Number with (config_with_def) %}
        <label for="{{ config_with_def.field_config.attribute_name }}" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">
            {{ config_with_def.field_config.display_name }}
        </label>
        <input
	      type="number"
	      name="{{ config_with_def.field_config.attribute_name }}"
          id="{{ config_with_def.field_config.attribute_name }}"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	      placeholder="{{ config_with_def.field_config.display_name }}"
		  value={{ config_with_def.value }}
        />
	  {% when FieldValue::Boolean with (config_with_def) %}
        <label for="{{ config_with_def.field_config.attribute_name }}" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">
            {{ config_with_def.field_config.display_name }}
        </label>
        <input
	      type="checkbox"
	      name="{{ config_with_def.field_config.attribute_name }}"
          id="{{ config_with_def.field_config.attribute_name }}"
          class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	      placeholder="{{ config_with_def.field_config.display_name }}"
		  {% if config_with_def.value == true %}
			checked
		  {% endif %}
        />
    {% endmatch %}
  {% endfor %}

  <!-- TODO Work out why back ground color isn't coming from apply -->
  <button
    type="submit"
    class="dark:bg-blue-600"
  >
    Save
  </button>
</form>

{% endblock %}
