<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

<div class="flex flex-col items-end">
  <a href="{{ create_view_route }}">
    <button type="button" class="dark:bg-blue-600">Create</button>
  </a>
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          {% for col in columns %}
            <th class="px-6 py-4">{{ col.get_field_display_name() }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
    		<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    			{% for value in row %}
					<td class="px-6 py-4">
						{% match columns[loop.index0] %}
							{% when FieldDef::Boolean with (config) %}
								{% if value == "true" %}
									<span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">True</span>
								{% else %}
									<span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">False</span>
								{% endif %}
							{% else %}
								{{ value }}
						{% endmatch %}
					</td>
    			{% endfor %}
        	</tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
