{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-end">
  <a href="{{ create_view_endpoint }}">
    <button type="button" class="dark:bg-blue-600">Create</button>
  </a>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Model name 
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Model description if provided</p>
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        {% for header in headers %}
          <th scope="col" class="px-6 py-3">
            {{header}}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
          {% for value in row.data %}
            {% if loop.first %}
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <a href="{{row.item_link}}">
                  {{value}}
                </a>
              </th>
            {% else %}
              <td class="px-6 py-4">
                {{value}}
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
